body {
    background: gray;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    width: 600px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.stats {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.7;
}
